.metronome button {
  background: #cc4466;
  padding: 10px;
  border: 1px solid #832420;
  border-radius: 10px;
  width: 100px;
  color: #fff;
  font-size: 18px;
  outline: none;
}

.metronome {
  text-align: center;
  padding: 30px;
}
